# *.tsv
*.pkl
.tox
**.egg-info**
**__pycache__**
.mypy_cache**
**.swp
**.swo
heterogeneity/outputs/*
*.aux
*.fdb_latexmk
*.fls
*.log
*.pyc

# My additions
data/hist2tscript-patch
output/
output_inference/
custom_fig/
log/
# models/
fig/
correlations/
*.gz
metadata.csv
*.jpg
*.tif
*_figures.zip
*.zip

stnet.cfg
.stnet.cfg
