*.tsv
*.pkl
.tox
**.egg-info**
**__pycache__**
.mypy_cache**
**.swp
**.swo
heterogeneity/outputs/*
*.aux
*.fdb_latexmk
*.fls
*.log
*.pyc

# My own additions
# Folders
log/
data/hist2tscript-patch/
output/

# Files
metadata.csv
*.tif
*.jpg
*.tsv.gz
*.csv.gz

stnet.cfg
.stnet.cfg
