*.tsv
*.pkl
.tox
**.egg-info**
**__pycache__**
.mypy_cache**
**.swp
**.swo
heterogeneity/outputs/*
*.aux
*.fdb_latexmk
*.fls
*.log
*.pyc

# My own additions
# Folders

# Files
*.tsv.gz
*.csv.gz

stnet.cfg
.stnet.cfg
